#collapseButton {
    margin-left: 4px;
    font-size: large;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    height: 100%;
}

#collapseButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#collapseButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}