.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 10px;
    width: 250px;
    height: 810px;
    background-color: #4331c9;
    padding: 10px;
    z-index: 1000;
    border: 1px solid #989898;
    border-radius: 5px;
}

h2 {
    margin-bottom: 10px;
}

li {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 20px;
    border-radius: 5px;
}

li:hover {
    cursor: pointer;
    background-color: #503bf0;
}